<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,greek-ext,cyrillic-ext' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css", "~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    
    <div class="container">
        @Html.Partial("_Header")
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            @Html.Partial("_Footer")
        </footer>

        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
